# すべてを無視する（デフォルト設定）
/*

# dev/ ディレクトリは追跡対象（旧extracted/）
!/dev/
!/dev/**

# tools/ ディレクトリは追跡対象
!/tools/
!/tools/**

# ルート直下のpyファイルは追跡対象
!/*.py

# .gitignore自体は追跡対象
!.gitignore

# .gitattributesは追跡対象
!.gitattributes

# README等ドキュメントがあれば追跡対象にする
!/LICENSE
!/README.md

#! upstream ソースコードを追跡対象にする
!/src/
/src/*
!/src/upstream/
!/src/upstream/**
